<p-table
  #tablaRecomendaciones
  [value]="recomendacionesOrdenadas()"
  [globalFilterFields]="['nombre', 'autor', 'isbn', 'estado']"
  [loading]="cargando()"
  [tableStyle]="{ 'min-width': '100%' }"
  styleClass="p-datatable-striped recommendations-table"
  [paginator]="true"
  [rows]="5"
  [rowsPerPageOptions]="[5, 10, 20]">

  <ng-template pTemplate="caption">
    <div class="recommendations-caption">
      <p-inputgroup class="recommendations-search-group">
        <p-inputgroup-addon>
          <i class="pi pi-search"></i>
        </p-inputgroup-addon>
        <p-floatlabel variant="in">
          <input
            pInputText
            id="recommendation-search"
            type="text"
            [ngModel]="searchValue()"
            (ngModelChange)="buscarRecomendaciones($event)" />
          <label for="recommendation-search">Buscar recomendacion</label>
        </p-floatlabel>
      </p-inputgroup>
    </div>
  </ng-template>

  <ng-template pTemplate="header">
    <tr>
      <th>Portada</th>
      <th>Libro</th>
      <th>ISBN</th>
      <th>Precio proveedor</th>
      <th>Cantidad</th>
      <th>Estado</th>
      <th style="text-align: center;">Acciones</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-recomendacion>
    <tr>
      <td>
        <div class="cover-cell">
          <img
            [src]="portadaUrl(recomendacion)"
            [alt]="'Portada de ' + recomendacion.nombre"
            (error)="usarPortadaFallback($event)" />
        </div>
      </td>
      <td>
        <div class="book-cell">
          <strong>{{ recomendacion.nombre }}</strong>
          <span>{{ recomendacion.autor }}</span>
        </div>
      </td>
      <td>{{ recomendacion.isbn }}</td>
      <td>
        <div class="price-cell">
          <span>{{ recomendacion.precioProveedor | currency:'ARS':'symbol':'1.2-2':'es-AR' }}</span>
          <br>
          @if (recomendacion.precioAdmin && recomendacion.estado === 'ESPERANDO_PROVEEDOR') {
            <p-tag
              icon="pi pi-info-circle"
              [value]="'Admin propuso ' + (recomendacion.precioAdmin | currency:'ARS':'symbol':'1.2-2':'es-AR')"
              severity="warn">
            </p-tag>
          }
        </div>
      </td>
      <td>
        <div class="quantity-cell">
          @if (!esSolicitudAdmin(recomendacion)) {
            <span>{{ cantidadVisible(recomendacion) }} uds.</span>
            <br>
          }
          @if (recomendacion.cantidadAdmin && recomendacion.estado === 'ESPERANDO_PROVEEDOR') {
             <p-tag
              icon="pi pi-info-circle"
              [value]="textoCantidadAdmin(recomendacion)"
              [severity]="cantidadAdminSeverity(recomendacion)">
              </p-tag>
          }
        </div>
      </td>
      <td>
        <p-tag [value]="estadoFilaLabel(recomendacion)" [severity]="estadoSeverity(recomendacion.estado)"></p-tag>
      </td>
      <td style="text-align: center;">
        @if (puedeResponder(recomendacion)) {
          <p-button
            icon="pi pi-check"
            [rounded]="true"
            [text]="true"
            severity="success"
            [title]="textoAccionAceptar(recomendacion)"
            (click)="aceptar.emit(recomendacion)">
          </p-button>
          <p-button
            icon="pi pi-reply"
            [rounded]="true"
            [text]="true"
            severity="info"
            [title]="textoAccionResponder(recomendacion)"
            (click)="contraofertar.emit(recomendacion)">
          </p-button>
          <p-button
            icon="pi pi-times"
            [rounded]="true"
            [text]="true"
            severity="danger"
            [title]="textoAccionRechazar(recomendacion)"
            (click)="rechazar.emit(recomendacion)">
          </p-button>
        }
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7" style="text-align: center; padding: 2rem;">
        No hay solicitudes de libros todavia.
      </td>
    </tr>
  </ng-template>
</p-table>
