<div class="page-content">
  <section class="welcome-section">
    <div class="hero-content">
      <div class="hero-text">
        <span class="eyebrow">
          {{ eyebrow() }}
        </span>

        <h1 class="hero-title">
          {{ title() }}
        </h1>

        <p class="description">
          {{ description() }}
        </p>

        <div class="welcome-actions">
      <p-button
        [label]="buttonText()"
        (click)="handleClick()"
        icon="pi pi-arrow-right"
        iconPos="right"
        severity="help"
        styleClass="btn-primary-glow"
      >
      </p-button>
        </div>
      </div>

      <div class="hero-image">
        <div class="image-glow"></div>

        <img [src]="imageBanner()" alt="Banner Librería" class="img-fluid" />
      </div>
    </div>
  </section>

  <section class="page-slot">
    <ng-content></ng-content>
  </section>
</div>
